body {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

button:hover {
    cursor: pointer;
}



/* HEADER */
header {  
    position: fixed;
    background-color: white; 
    width: 100%;  
    z-index: 100;  
    box-shadow: 0 3px 10px rgba(3, 3, 3, 0.225);  
}

.header-add {
    background-color: #ff86af;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo,
.header-search,
.header-user,
.header-shopbag,
.phone {
    display: flex;
    padding: 10px 5px;
}

header div img {
    padding-right: 10px;
}

.header-a:hover {
    color: #bd9a73;
    transition: color 0.2s linear;
}

.phone {
    padding: 10px 0 5px;
}

.header-phone-text {
    margin: 0 18px;
    color: #bd9a73;
}

.header-phone-text:hover {
    color: #d6c4b0;
    transition: color 0.2s linear;
}

.header-logo {
align-items: center;
}

.logo-text1 {
    display: inline;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; 
}

.logo-text2 {
    color: #666;
}

.header-shopbag {
    align-items: center;
}

.shopbag-number {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 2.5em;
}



/* NAVIGATION */
nav {
    max-width: 1200px;
    margin: auto;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    list-style-type: none;
}

.nav-list a:hover {
    color: #bd9a73;
    transition: color 0.2s linear;
}

.nav-last-item {
    color: #ff5e78;
}



/* MAIN */

main img {
    margin-top: 170px;
}

.about {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    margin: 40px auto;
}

.about-item {
    max-width: 400px;
}

.about-title {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    margin: 0; 
    padding: 18px;
}

.special-offer {
    background-color: #efe9e3;
    padding: 40px;
    margin: 50px 0;
}

.special-offer p {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.special-offer-items {
    display: flex;
    justify-content: space-around;
}

.offer-item {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 25%;
    padding: 25px 25px 80px;
}

.offer-item:hover {
    background-color: white;
    transition: background-color 0.2s linear;
}

.offer-item img {
    width: 200px;
}

.offer-item-text {
    padding: 15px;
}

.offer-item-text a:hover {
    color: #bd9a73;
    transition: color 0.2s linear;
}

.offer-item-price {
    font-weight: bold;
    font-size: 20px;
}

.offer-item-price span {
    color: #ababab;
    text-decoration: #cbb6a0 line-through;
    margin-right: 10px;
}

.offer-item button {
    position: absolute;
    bottom: 15px;
    left: 30%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    padding: 15px 30px;
}

.offer-item button:hover {
    background-color: #4c4c4c;
    transition: background-color 0.2s linear;
}















