body {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

button:hover {
    cursor: pointer;
}



/* HEADER */
header {  
    position: fixed;
    background-color: white; 
    width: 100%;  
    z-index: 100;  
    box-shadow: 0 3px 10px rgba(3, 3, 3, 0.225);  
}

.header-add {
    background-color: #9f82f3;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo,
.header-search,
.header-user,
.header-shopbag,
.phone {
    display: flex;
    padding: 10px 5px;
}

header div img {
    padding-right: 10px;
}

.header-a:hover {
    color: #bd9a73;
    transition: color 0.2s linear;
}

.phone {
    padding: 10px 0 5px;
}

.header-phone-text {
    margin: 0 18px;
    color: #bd9a73;
}

.header-phone-text:hover {
    color: #d6c4b0;
    transition: color 0.2s linear;
}

.header-logo {
    align-items: center;
}

.logo-text1 {
    display: inline;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; 
}

.logo-text2 {
    color: #666;
}

.header-shopbag {
    align-items: center;
}

.shopbag-number {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 2.5em;
}



/* NAVIGATION */
nav {
    max-width: 1200px;
    margin: auto;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    list-style-type: none;
}

.nav-list a:hover {
    color: #bd9a73;
    transition: color 0.2s linear;
}

.nav-last-item {
    color: #ff5e78;
}



/* MAIN */
.big-main-img {
    margin-top: 170px;
}

.about {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    margin: 40px auto;
}

.about-item {
    max-width: 400px;
}

.about-title {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    margin: 0; 
    padding: 18px;
}

/* Special offer */
.swiper {
    max-width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 0 40px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.swiper-button-prev, .swiper-button-next {
    opacity: 0.6;
    color: #ff86af;
    transition: opacity 0.2s linear;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    opacity: 1;
}

.special-offer {
    background-color: #efe9e3;
    padding: 40px 40px 60px;
}

.special-offer p {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.offer-item {
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: 200px;
    height: 300px;
    padding: 25px 25px 80px;
}

.offer-item:hover {
    background-color: white;
    transition: background-color 0.2s linear;
}

.offer-item img {
    width: 200px;
}

.offer-item-text {
    padding: 15px;
}

.offer-item-text a:hover {
    color: #bd9a73;
    transition: color 0.2s linear;
}

.offer-item-price {
    font-weight: bold;
    font-size: 20px;
}

.offer-item-price span {
    color: #ababab;
    text-decoration: #cbb6a0 line-through;
    margin-right: 10px;
}

.offer-item button {
    position: absolute;
    bottom: 15px;
    left: 30%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    padding: 15px 30px;
}

.offer-item button:hover {
    background-color: #4c4c4c;
    transition: background-color 0.2s linear;
}

.offer-item-percent {
    position: relative;
    top: 15px;
    left: -85px;
    background-color: #fff;
    color: #292933;
    border: 1px #ff86af solid;
    border-radius: 30px;
    padding: 20px 10px;
}

/* Dark container with forms */
.form-selection {
    background-color: #292933;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 60px 0 80px;
}

.dark-container select {
    background-color: #fff;
    color: #292933;
    font-size: 18px;
    width: 20%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px 40px 20px 30px;
    margin: 10px;
}

.dark-container button {
    background-color: #bd9a73;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
}

.dark-container button:hover {
    background-color: #baa692;
    transition: background-color 0.2s linear;
}

/* Instagram */
.instagram-container {
    border: 1px solid #8878b6;
    text-align: center;
    padding: 40px;
    margin: 60px;
}

.inst-text {
    font-size: 28px;
    font-weight: bold;
    padding: 20px 0;
}

.inst-link {
    color: #8878b6;
    font-size: 26px;
    font-weight: bold;
}

.inst-link:hover {
    color: #d6c4b0;
    transition: color 0.2s linear;
}

.gallery-instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
}

.inst-item {
    width: 20%;
    padding: 0 7px;
    margin: 7px 0;
}

.inst-item-inner:before {
    z-index: 2;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease;
}

.inst-item-inner:hover:before {
    opacity: 1;
}

.inst-item-inner {
    position: relative;
    display: flex;
    cursor: pointer;
    overflow: hidden;
}

.inst-item-inner:hover .inst-item-img {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.inst-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inst-item-title {
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    opacity: 0;
}

.inst-item-title:hover {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.inst-item-title img {
    padding: 0 5px 0 15px;
}

.instagram-container button {
    background-color: #8878b6;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;    
}

.instagram-container button:hover {
    background-color: #ac9ddb;
    transition: background-color 0.2s linear;
}

.instagram-container button a {
    color: #fff;
}


/* Quote */
.quote {
    color: #292933;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    margin: auto;
    padding: 40px 200px;
}

.quote-author {
    text-align: end;
}


/* FOOTER */
footer {
    background-color: #292933;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 40px 60px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #bd9a73;
    transition: color 0.2s linear;
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
}

.footer-about, .footer-clients, .footer-company, .footer-news {
    width: 30%;
    padding: 0 20px;
}

.footer-clients ul, .footer-clients ul li {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
}

.footer-news input {
    padding: 15px;
    border-radius: 40px;
    border: none;
}

.footer-email {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-news-subscribebtn {
    background-color: #bd9a73;
    color: #fff;
    font-size: 35px;
    border: none;
    border-radius: 40px;
    padding: 3px 8px;
    margin-left: 5px;
}

.footer-news-subscribebtn:hover {
    background-color: #baa692;
    transition: background-color 0.2s linear;
}

.footer-news-fb-inst img {
    height: 40px;
    
}

.footer-news-fb-inst button {
    background-color: transparent;
    border: none;
    border-radius: 100px;
    text-align: center;
    padding: 3px;
    margin: 20px 5px;
}

.footer-news-fb-inst button:hover {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

/* Arrow up */
.arrow-up {
    z-index: 10;
    position: fixed;
    bottom: -10%;
    right: 3%;
    opacity: 0.7;
    transition: 0.2s linear;
}

.arrow-up.active {
    bottom: 5%;
}

.arrow-up:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.05);
}











